<header>
  <ul class="menu-list all-walls">
    {{#each wall in controller.controllers.walls}}
      <li>
        {{#link-to 'wall' wall}}
          {{wall.name}}
        {{/link-to}}
        {{!-- <li class="delete-wall">
          {{#view App.AddRemoveView action="deleteWall"}}
            Delete this wall
          {{/view}}
        </li> --}}
      </li>
    {{/each}}
    <li class="new-wall">
      {{#view App.AddRemoveView action="showForm" target='view'}}
        + New wall
      {{/view}}
    </li>
  </ul>

  <ol class="menu-list all-rows">
    <li class="new-row">
      {{#view App.AddRemoveView action="createRow"}}
        + New row
      {{/view}}
    </li>
    {{#each row in controller.controllers.wall.rows}}
      <li>
        {{#view App.AddRemoveView action="deleteRow" row=row}}
        <span></span>
        {{/view}}
      </li>
    {{/each}}
  </ol>

  <div class="logo"></div>
</header>
