header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  background: #333333;
  height: 100%;
  width: 150px;
  .menu-list {
    padding-left: 0;
    list-style-type: none;
    margin: 0;
    font-size: 14px;
    counter-reset: row;
    &.all-rows {
      margin-top: 100px;
      .new-row {
        button:hover {
          background: #E0E0E0;
        }
      }
      li span:before {
        counter-increment: row;
        content: "Remove row " counter(row);
      }
      li button:hover {
        background: #F44;
      }
    }
    li {
      padding: 2px 2px 0 0;
      a, button {
        text-decoration: none;
        color: white;
        padding: 7px 20px 7px 20px;
        display: block;
        width: 100%;
        font-weight: 400;
        text-align: left;
        background: none;
        border: none;
        font-family: $font;
        outline: none;
        &.active, &:hover {
          background: #E0E0E0;
          color: #313131;
        }
      }
    }
    .new-wall, .new-row {
      border-top: 1px solid #474747;
      border-bottom: 1px solid #474747;

    }
  }
  .logo {
    background: image-url('bw-logo-light.png') center bottom no-repeat;
    width: 100%;
    height: 45px;
    position: absolute;
    bottom: 16px;
    background-size: 53%;
  }
}
