.bundle
.idea
coverage
db/*.sqlite3
db/schema.rb
log/
tmp/
.sass-cache/
.jhw-cache
config/database.yml
*.request
.DS_Store
*.dot
*.swp
public/stylesheets/*.css
test.rb
dumps
.gemtags
.local.yml
vendor/gems
nohup.out
.projectile
public/assets
frontend/node_modules
config/locales/*
!config/locales/en.yml
app/assets/javascripts/i18n/translations_*.js
.yardoc

/log/*.log
/tmp
