.wall {
  display: flex;
  flex-flow: row wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  width: 100%;
  height: 100%;
  padding: 0 0 0 150px;
  background:#7c7c7c;
  .row {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    position: relative;
    width: 100%;
    padding-right: 30px;
    .note-element:last-of-type {
      border-right: none;
    }
    .note-element:nth-child(3) {
      border-top-color: #f4b936;
    }
    .note-element:nth-child(6) {
      border-top-color: #f29900;
    }
    .note-element:nth-child(9) {
      border-top-color: #e96b5a;
    }
    .note-element:nth-child(12) {
      border-top-color: #ef3315;
    }
    .note-element:nth-child(15) {
      border-top-color: #03949a;
    }
    .note-element:nth-child(18) {
      border-top-color: #137e83;
    }
    &.highlight {
      border-left: 3px solid red;
    }
  }
  .row:last-of-type {
    border-bottom: none;
    .note-element, .create-note {
      border-bottom: none;
    }
  }
}

.new-wall-overlay {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .4);
  input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 49%;
    left: 0;
    border-radius: 3px;
    width: 350px;
    height: 59px;
    border: none;
    background: white;
    margin: auto;
    padding: 15px 21px 13px;
    font-size: 23px;
    outline: none;
    font-weight: 600;
    color: rgb(58, 58, 58);
  }
}
