.main-container
  %section.billboard
    .content
      = image_tag "bw-logo.png", class: "logo", width: "145"
      %h1.headline
        The easiest way to take and read your everyday notes.
      %h1.headline.headline-inv
        Anytime. Anywhere.
      = link_to("/auth/facebook?display=popup", :class => "login_with_fb", :"data-width" => 600, :"data-height" => 400) do
        %span.icon-facebook
        Log in with Facebook

%footer
  .content
    %p bitwallapp.com | © 2015 Bitwall All rights reserved.
