$font: "ff-tisa-sans-web-pro", "helvetica neue", helvetica, arial, sans-serif;

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body, pre {
  height: 100%;
  min-height: 100%;
  font-family: $font;
}

header, section, footer {
  .content {
    width: 980px;
    padding: 30px 20px;
    margin: auto;
    &:after, &:before {
      content: "";
      clear: both;
      display: table;
      line-height: 0;
      content: "";
    }
  }
}
