header {
  height: 72px;
  border-bottom: 1px solid rgba(175, 175, 175, .54);

  .content { padding: 0 20px; }
  .logo {
    float: left;
    margin-top: 27px;
    height: 28px;
  }
  nav {
    float: right;
    margin-top: 11px;
    ul {
      list-style-type: none;
    }
  }
}

header, footer {
  background: image-url('color_bar.jpg') repeat-x top left;
}

.billboard {
  text-align: center;
  h1 {
    font-size: 38px;
    font-weight: 600;
    color: #4C4C4C;
    line-height: 62px;
    max-width: 730px;
    margin: 17px auto 11px;
    letter-spacing: -1px;
  }
  p {
    font-weight: 300;
    font-size: 22px;
    color: #787777;
    line-height: 35px;
    margin: 0 0 38px;
  }
}

.info {
  background: white;
  border-top: 1px solid rgba(175, 175, 175, .54);
}

footer {
  .content {
    padding: 25px 20px 0;
  }
  p {
    font-size: 13px;
    color: #999999;
    margin: 0;
  }
}

.login_with_fb {
  border-radius: 3px;
  background: #5992d5;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 22px;
  margin: auto;
  margin-bottom: 37px;
  width: 266px;
  text-decoration: none;
  padding: 11px 37px;
  display: block;
  position: relative;
  top: 0;
  text-align: right;
  &:hover { background: darken(#5992d5, 5%); }
  &:active { top: 2px; }
  .icon-facebook:before {
    font-size: 26px;
    position: absolute;
    left: 10px;
    top: 10px;
  }
  &.with_fb_small {
    display: inline;
    font-size: 14px;
    padding: 4px 15px 5px;
    font-weight: 400;
    &:before {
      content: "";
      position: absolute;
    }
  }
}
