{{view App.NoteEditingView class="editing-area" valueBinding="note.body"}}

<div class="note-settings">
  <ul class="actions">
    <li>
      <button {{action delete}} class="delete-note"><span class="icon-trash"></span></button>
    </li>
  </ul>
</div>


<div {{bindAttr id="view.toolbarId"}} class="bitwall-wysi">
  <a data-wysihtml5-command="bold" class="wysi-bold">
    B
  </a>
  <a data-wysihtml5-command="strike" class="wysi-strike">
    S
  </a>
  <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red" class="wysi-red wysi-color">
  </a>
  <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green" class="wysi-green wysi-color">
  </a>
</div>
