{{#view App.NoteDisplayView class="display-area"}}
  {{note.body}}
{{/view}}

{{view App.NoteEditingView class="editing-area" value=note.body}}

<div class="note-settings">
  <ul class="actions">
    <li>
      <button {{action delete}} class="delete-note">&#59177;</button>
    </li>
  </ul>
</div>
